In [5]:
import pandas as pd
import numpy as np
import seaborn as sns

In [6]:
df = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = "Latin-1")
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [7]:
len(df["Element Code"].unique())

18

In [8]:
df.iloc[6:100]

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
6,4,Algeria,2903,Vegetal Products,674,Protein supply quantity (g/capita/day),g/capita/day,67.14,67.38,67.37,66.11,67.10
7,4,Algeria,2903,Vegetal Products,684,Fat supply quantity (g/capita/day),g/capita/day,53.84,54.72,52.04,55.59,54.57
8,4,Algeria,2941,Animal Products,664,Food supply (kcal/capita/day),kcal/capita/day,444.00,421.00,431.00,421.00,390.00
9,4,Algeria,2941,Animal Products,674,Protein supply quantity (g/capita/day),g/capita/day,27.76,26.97,27.35,26.71,24.73
10,4,Algeria,2941,Animal Products,684,Fat supply quantity (g/capita/day),g/capita/day,26.22,24.64,25.37,24.60,22.71
11,4,Algeria,2905,Cereals - Excluding Beer,5511,Production,1000 tonnes,3436.00,3761.00,3445.00,3478.00,6065.00
12,4,Algeria,2905,Cereals - Excluding Beer,5611,Import Quantity,1000 tonnes,12604.00,13983.00,13523.00,13039.00,13182.00
13,4,Algeria,2905,Cereals - Excluding Beer,5072,Stock Variation,1000 tonnes,684.00,1663.00,905.00,705.00,2226.00
14,4,Algeria,2905,Cereals - Excluding Beer,5911,Export Quantity,1000 tonnes,3.00,7.00,7.00,10.00,17.00
15,4,Algeria,2905,Cereals - Excluding Beer,5301,Domestic supply quantity,1000 tonnes,15353.00,16075.00,16056.00,15803.00,17004.00
16,4,Algeria,2905,Cereals - Excluding Beer,5521,Feed,1000 tonnes,4725.00,5070.00,4838.00,4667.00,5266.00
17,4,Algeria,2905,Cereals - Excluding Beer,5527,Seed,1000 tonnes,177.00,189.00,197.00,202.00,278.00
18,4,Algeria,2905,Cereals - Excluding Beer,5123,Losses,1000 tonnes,1084.00,1203.00,1148.00,1121.00,1253.00
19,4,Algeria,2905,Cereals - Excluding Beer,5131,Processing,1000 tonnes,35.00,38.00,37.00,33.00,44.00
20,4,Algeria,2905,Cereals - Excluding Beer,5154,Other uses (non-food),1000 tonnes,787.00,847.00,835.00,840.00,951.00
21,4,Algeria,2905,Cereals - Excluding Beer,5170,Residuals,1000 tonnes,0.00,0.00,0.00,0.00,-8.00
22,4,Algeria,2905,Cereals - Excluding Beer,5142,Food,1000 tonnes,8546.00,8729.00,9001.00,8941.00,9219.00
23,4,Algeria,2905,Cereals - Excluding Beer,645,Food supply quantity (kg/capita/yr),kg,219.56,219.72,221.98,216.02,218.31
24,4,Algeria,2905,Cereals - Excluding Beer,664,Food supply (kcal/capita/day),kcal/capita/day,1680.00,1682.00,1699.00,1656.00,1672.00
25,4,Algeria,2905,Cereals - Excluding Beer,674,Protein supply quantity (g/capita/day),g/capita/day,49.43,49.54,50.01,48.86,49.36
26,4,Algeria,2905,Cereals - Excluding Beer,684,Fat supply quantity (g/capita/day),g/capita/day,6.84,6.78,6.83,6.63,6.58
27,4,Algeria,2511,Wheat and products,5511,Production,1000 tonnes,2436.00,2657.00,2440.00,2437.00,3981.00
28,4,Algeria,2511,Wheat and products,5611,Import Quantity,1000 tonnes,7461.00,8531.00,8255.00,8105.00,8434.00
29,4,Algeria,2511,Wheat and products,5072,Stock Variation,1000 tonnes,487.00,1401.00,731.00,546.00,1927.00
30,4,Algeria,2511,Wheat and products,5911,Export Quantity,1000 tonnes,3.00,7.00,6.00,10.00,17.00
31,4,Algeria,2511,Wheat and products,5301,Domestic supply quantity,1000 tonnes,9407.00,9780.00,9958.00,9987.00,10472.00
32,4,Algeria,2511,Wheat and products,5521,Feed,1000 tonnes,550.00,592.00,584.00,587.00,665.00
33,4,Algeria,2511,Wheat and products,5527,Seed,1000 tonnes,123.00,134.00,123.00,123.00,201.00
34,4,Algeria,2511,Wheat and products,5123,Losses,1000 tonnes,690.00,781.00,747.00,736.00,868.00
35,4,Algeria,2511,Wheat and products,5131,Processing,1000 tonnes,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
70,4,Algeria,2513,Barley and products,664,Food supply (kcal/capita/day),kcal/capita/day,90.00,86.00,86.00,72.00,105.00
71,4,Algeria,2513,Barley and products,674,Protein supply quantity (g/capita/day),g/capita/day,2.46,2.36,2.35,1.97,2.90
72,4,Algeria,2513,Barley and products,684,Fat supply quantity (g/capita/day),g/capita/day,0.28,0.27,0.27,0.22,0.33
73,4,Algeria,2514,Maize and products,5511,Production,1000 tonnes,3.00,3.00,4.00,3.00,4.00
74,4,Algeria,2514,Maize and products,5611,Import Quantity,1000 tonnes,4148.00,4450.00,4159.00,4161.00,4126.00
75,4,Algeria,2514,Maize and products,5072,Stock Variation,1000 tonnes,146.00,177.00,122.00,127.00,124.00
76,4,Algeria,2514,Maize and products,5911,Export Quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
77,4,Algeria,2514,Maize and products,5301,Domestic supply quantity,1000 tonnes,4005.00,4276.00,4041.00,4037.00,4007.00
78,4,Algeria,2514,Maize and products,5521,Feed,1000 tonnes,3077.00,3309.00,3084.00,3102.00,3090.00
79,4,Algeria,2514,Maize and products,5527,Seed,1000 tonnes,0.00,0.00,0.00,0.00,0.00
80,4,Algeria,2514,Maize and products,5123,Losses,1000 tonnes,288.00,309.00,288.00,290.00,289.00
81,4,Algeria,2514,Maize and products,5131,Processing,1000 tonnes,0.00,0.00,0.00,0.00,0.00
82,4,Algeria,2514,Maize and products,5170,Residuals,1000 tonnes,0.00,0.00,0.00,0.00,0.00
83,4,Algeria,2514,Maize and products,5142,Food,1000 tonnes,640.00,657.00,669.00,644.00,628.00
84,4,Algeria,2514,Maize and products,645,Food supply quantity (kg/capita/yr),kg,16.44,16.55,16.49,15.57,14.86
85,4,Algeria,2514,Maize and products,664,Food supply (kcal/capita/day),kcal/capita/day,131.00,132.00,131.00,125.00,120.00
86,4,Algeria,2514,Maize and products,674,Protein supply quantity (g/capita/day),g/capita/day,3.23,3.29,3.22,3.14,3.06
87,4,Algeria,2514,Maize and products,684,Fat supply quantity (g/capita/day),g/capita/day,1.13,1.15,1.13,1.10,1.07
88,4,Algeria,2515,Rye and products,5611,Import Quantity,1000 tonnes,NaN,NaN,NaN,NaN,0.00
89,4,Algeria,2515,Rye and products,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
90,4,Algeria,2515,Rye and products,5131,Processing,1000 tonnes,0.00,0.00,0.00,0.00,0.00
91,4,Algeria,2515,Rye and products,5170,Residuals,1000 tonnes,0.00,0.00,0.00,0.00,0.00
92,4,Algeria,2515,Rye and products,5142,Food,1000 tonnes,0.00,0.00,0.00,0.00,0.00
93,4,Algeria,2515,Rye and products,645,Food supply quantity (kg/capita/yr),kg,0.00,0.00,0.00,0.00,0.00
94,4,Algeria,2515,Rye and products,664,Food supply (kcal/capita/day),kcal/capita/day,0.00,0.00,0.00,0.00,0.00
95,4,Algeria,2515,Rye and products,674,Protein supply quantity (g/capita/day),g/capita/day,0.00,0.00,0.00,0.00,0.00
96,4,Algeria,2515,Rye and products,684,Fat supply quantity (g/capita/day),g/capita/day,0.00,0.00,0.00,0.00,0.00
97,4,Algeria,2516,Oats,5511,Production,1000 tonnes,57.00,68.00,72.00,64.00,118.00
98,4,Algeria,2516,Oats,5611,Import Quantity,1000 tonnes,13.00,32.00,24.00,7.00,2.00
99,4,Algeria,2516,Oats,5072,Stock Variation,1000 tonnes,0.00,3.00,2.00,-1.00,2.00

In [9]:
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
Area Code       60943 non-null int64
Area            60943 non-null object
Item Code       60943 non-null int64
Item            60943 non-null object
Element Code    60943 non-null int64
Element         60943 non-null object
Unit            60943 non-null object
Y2014           59354 non-null float64
Y2015           59395 non-null float64
Y2016           59408 non-null float64
Y2017           59437 non-null float64
Y2018           59507 non-null float64
dtypes: float64(5), int64(3), object(4)
memory usage: 4.6+ MB

In [12]:
df['Y2017']

0        41389.00
1            0.00
2         3341.00
3           92.82
4           80.19
5         2921.00
6           66.11
7           55.59
8          421.00
9           26.71
10          24.60
11        3478.00
12       13039.00
13         705.00
14          10.00
15       15803.00
16        4667.00
17         202.00
18        1121.00
19          33.00
20         840.00
21           0.00
22        8941.00
23         216.02
24        1656.00
25          48.86
26           6.63
27        2437.00
28        8105.00
29         546.00
           ...
60913       15.00
60914       -4.00
60915        1.00
60916       19.00
60917        0.00
60918       19.00
60919        1.34
60920        2.00
60921        0.05
60922        0.02
60923        0.00
60924        0.00
60925        0.00
60926        0.00
60927        0.00
60928        0.00
60929        0.00
60930        0.00
60931        0.00
60932        0.00
60933       15.00
60934       -4.00
60935        0.00
60936       19.00
60937        0.00
60938       19.00
60939        1.33
60940        1.00
60941        0.04
60942        0.02
Name: Y2017, Length: 60943, dtype: float64

In [14]:
df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [13]:
df.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

In [13]:
df.columns

Index(['Area Code', 'Area', 'Item Code', 'Item', 'Element Code', 'Element',
       'Unit', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'],
      dtype='object')

In [16]:
byArea = df.groupby('Area')
byArea.describe()

                            Area Code                                          \
                                count   mean  std    min    25%    50%    75%
Area
Algeria                        1313.0    4.0  0.0    4.0    4.0    4.0    4.0
Angola                         1424.0    7.0  0.0    7.0    7.0    7.0    7.0
Benin                          1285.0   53.0  0.0   53.0   53.0   53.0   53.0
Botswana                       1378.0   20.0  0.0   20.0   20.0   20.0   20.0
Burkina Faso                   1409.0  233.0  0.0  233.0  233.0  233.0  233.0
Cabo Verde                     1260.0   35.0  0.0   35.0   35.0   35.0   35.0
Cameroon                       1460.0   32.0  0.0   32.0   32.0   32.0   32.0
Central African Republic       1344.0   37.0  0.0   37.0   37.0   37.0   37.0
Chad                           1343.0   39.0  0.0   39.0   39.0   39.0   39.0
Comoros                          45.0   45.0  0.0   45.0   45.0   45.0   45.0
Congo                          1413.0   46.0  0.0   46.0   46.0   46.0   46.0
CÃ´te d'Ivoire                  1467.0  107.0  0.0  107.0  107.0  107.0  107.0
Djibouti                       1095.0   72.0  0.0   72.0   72.0   72.0   72.0
Egypt                          1488.0   59.0  0.0   59.0   59.0   59.0   59.0
Eswatini                       1284.0  209.0  0.0  209.0  209.0  209.0  209.0
Ethiopia                       1447.0  238.0  0.0  238.0  238.0  238.0  238.0
Ethiopia PDR                     39.0   62.0  0.0   62.0   62.0   62.0   62.0
Gabon                          1245.0   74.0  0.0   74.0   74.0   74.0   74.0
Gambia                         1168.0   75.0  0.0   75.0   75.0   75.0   75.0
Ghana                          1354.0   81.0  0.0   81.0   81.0   81.0   81.0
Guinea                         1410.0   90.0  0.0   90.0   90.0   90.0   90.0
Guinea-Bissau                  1128.0  175.0  0.0  175.0  175.0  175.0  175.0
Kenya                          1560.0  114.0  0.0  114.0  114.0  114.0  114.0
Lesotho                        1150.0  122.0  0.0  122.0  122.0  122.0  122.0
Liberia                        1206.0  123.0  0.0  123.0  123.0  123.0  123.0
Madagascar                     1439.0  129.0  0.0  129.0  129.0  129.0  129.0
Malawi                         1447.0  130.0  0.0  130.0  130.0  130.0  130.0
Mali                           1293.0  133.0  0.0  133.0  133.0  133.0  133.0
Mauritania                     1195.0  136.0  0.0  136.0  136.0  136.0  136.0
Mauritius                      1378.0  137.0  0.0  137.0  137.0  137.0  137.0
Morocco                        1393.0  143.0  0.0  143.0  143.0  143.0  143.0
Mozambique                     1427.0  144.0  0.0  144.0  144.0  144.0  144.0
Namibia                        1283.0  147.0  0.0  147.0  147.0  147.0  147.0
Niger                          1403.0  158.0  0.0  158.0  158.0  158.0  158.0
Nigeria                        1474.0  159.0  0.0  159.0  159.0  159.0  159.0
Rwanda                         1426.0  184.0  0.0  184.0  184.0  184.0  184.0
Sao Tome and Principe          1177.0  193.0  0.0  193.0  193.0  193.0  193.0
Senegal                        1462.0  195.0  0.0  195.0  195.0  195.0  195.0
Seychelles                       68.0  196.0  0.0  196.0  196.0  196.0  196.0
Sierra Leone                   1242.0  197.0  0.0  197.0  197.0  197.0  197.0
South Africa                   1399.0  202.0  0.0  202.0  202.0  202.0  202.0
Sudan                          1316.0  276.0  0.0  276.0  276.0  276.0  276.0
Sudan (former)                   53.0  206.0  0.0  206.0  206.0  206.0  206.0
Togo                           1294.0  217.0  0.0  217.0  217.0  217.0  217.0
Tunisia                        1338.0  222.0  0.0  222.0  222.0  222.0  222.0
Uganda                         1458.0  226.0  0.0  226.0  226.0  226.0  226.0
United Republic of Tanzania    1419.0  215.0  0.0  215.0  215.0  215.0  215.0
Zambia                         1451.0  251.0  0.0  251.0  251.0  251.0  251.0
Zimbabwe                       1393.0  181.0  0.0  181.0  181.0  181.0  181.0

                                   Item Code               ...    Y2017  \
                               max     count         mean  ...      75%
Area                                                       ...
Algeria                        4.0    1313.0  2690.063214  ...  28.0000
Angola                         7.0    1424.0  2682.519663  ...  14.0000
Benin                         53.0    1285.0  2687.698054  ...  13.0000
Botswana                      20.0    1378.0  2688.608128  ...   2.1600
Burkina Faso                 233.0    1409.0  2681.898510  ...   8.0000
Cabo Verde                    35.0    1260.0  2695.830159  ...   3.0000
Cameroon                      32.0    1460.0  2682.245205  ...  21.0000
Central African Republic      37.0    1344.0  2684.186012  ...   4.6800
Chad                          39.0    1343.0  2685.427401  ...   6.0000
Comoros                       45.0      45.0  2766.977778  ...   0.8000
Congo                         46.0    1413.0  2683.672328  ...   3.0000
CÃ´te d'Ivoire                107.0    1467.0  2682.220859  ...  15.0000
Djibouti                      72.0    1095.0  2699.614612  ...   2.1700
Egypt                         59.0    1488.0  2685.864919  ...  47.0000
Eswatini                     209.0    1284.0  2691.724299  ...   3.4750
Ethiopia                     238.0    1447.0  2680.139599  ...  18.1075
Ethiopia PDR                  62.0      39.0  2765.461538  ...   0.0000
Gabon                         74.0    1245.0  2694.305221  ...   5.0000
Gambia                        75.0    1168.0  2692.981164  ...   3.0000
Ghana                         81.0    1354.0  2687.842688  ...  29.0000
Guinea                        90.0    1410.0  2682.372340  ...   8.0000
Guinea-Bissau                175.0    1128.0  2691.111702  ...   4.3325
Kenya                        114.0    1560.0  2683.100641  ...  17.0000
Lesotho                      122.0    1150.0  2695.085217  ...   3.1725
Liberia                      123.0    1206.0  2694.800166  ...   4.0000
Madagascar                   129.0    1439.0  2685.377345  ...   7.0000
Malawi                       130.0    1447.0  2680.987560  ...   8.0000
Mali                         133.0    1293.0  2683.585460  ...  21.5000
Mauritania                   136.0    1195.0  2696.323849  ...   5.5875
Mauritius                    137.0    1378.0  2693.459361  ...   3.6925
Morocco                      143.0    1393.0  2687.065327  ...  34.0000
Mozambique                   144.0    1427.0  2684.168886  ...  12.8625
Namibia                      147.0    1283.0  2691.134061  ...   5.7000
Niger                        158.0    1403.0  2682.635068  ...   4.0000
Nigeria                      159.0    1474.0  2682.738806  ...  61.0000
Rwanda                       184.0    1426.0  2681.686536  ...   5.0000
Sao Tome and Principe        193.0    1177.0  2691.631266  ...   1.0000
Senegal                      195.0    1462.0  2682.749658  ...   8.8875
Seychelles                   196.0      68.0  2768.617647  ...   0.4475
Sierra Leone                 197.0    1242.0  2691.872786  ...   6.0000
South Africa                 202.0    1399.0  2687.190136  ...  55.5000
Sudan                        276.0    1316.0  2685.912614  ...  19.3000
Sudan (former)               206.0      53.0  2766.622642  ...   0.0000
Togo                         217.0    1294.0  2688.429675  ...  10.0000
Tunisia                      222.0    1338.0  2692.689088  ...  19.0000
Uganda                       226.0    1458.0  2681.144719  ...  14.0000
United Republic of Tanzania  215.0    1419.0  2684.671600  ...  27.0000
Zambia                       251.0    1451.0  2682.840110  ...   6.0000
Zimbabwe                     181.0    1393.0  2684.344580  ...   8.0000

                                         Y2018                            \
                                   max   count         mean          std
Area
Algeria                       41389.00  1298.0   263.274253  1590.356861
Angola                        29817.00  1396.0   168.486160  1137.007472
Benin                         11175.00  1252.0    99.808866   545.635050
Botswana                       2341.00  1361.0    16.994181   113.793798
Burkina Faso                  19193.00  1373.0    82.280204   646.445752
Cabo Verde                     2530.00  1192.0    12.267282   107.229191
Cameroon                      24566.00  1432.0   162.725510   911.207104
Central African Republic       4596.00  1308.0    23.013433   166.536536
Chad                          15017.00  1305.0    55.388690   471.707604
Comoros                          16.65    45.0     1.329778     3.578664
Congo                          5111.00  1377.0    30.505105   201.177396
CÃ´te d'Ivoire                 24437.00  1455.0   156.026117   975.517379
Djibouti                       2664.00  1040.0    22.806692   144.371308
Egypt                         96443.00  1468.0   580.826240  3540.908442
Eswatini                       5553.00  1231.0    44.715735   399.039402
Ethiopia                     106400.00  1425.0   316.343060  3200.112189
Ethiopia PDR                      0.00    39.0     0.000000     0.000000
Gabon                          2640.00  1192.0    23.774648   133.556364
Gambia                         2544.00  1118.0    21.032021   149.112662
Ghana                         29121.00  1337.0   268.448497  1818.707255
Guinea                        12068.00  1385.0    74.557458   457.409055
Guinea-Bissau                  2233.00  1091.0    17.413309   121.702160
Kenya                         50221.00  1548.0   175.010853  1448.717847
Lesotho                        2475.00  1094.0    17.467303   130.133018
Liberia                        4702.00  1133.0    26.151659   185.772512
Madagascar                    25571.00  1424.0    94.505927   812.119103
Malawi                        17670.00  1410.0   132.883752   834.095024
Mali                          18512.00  1260.0   126.211444   764.364610
Mauritania                    51864.00  1170.0   134.598248  1963.648701
Mauritius                      3713.00  1342.0    35.134806   260.042960
Morocco                       38348.00  1368.0   291.864963  1924.375988
Mozambique                    28649.00  1400.0   117.810036   992.481626
Namibia                        2465.00  1256.0    23.367866   134.470712
Niger                         21602.00  1368.0    97.940687   739.976796
Nigeria                      190873.00  1456.0  1030.064725  7844.078817
Rwanda                        11981.00  1403.0    53.342181   405.123587
Sao Tome and Principe          2407.00  1109.0    11.547782   108.391990
Senegal                       15419.00  1448.0    65.948771   494.072802
Seychelles                      204.02    68.0     6.505000    30.566295
Sierra Leone                   7488.00  1197.0    46.768363   309.591137
South Africa                  57010.00  1396.0   365.177629  2217.539021
Sudan                         40813.00  1268.0   211.399361  1391.731877
Sudan (former)                    0.00    53.0     0.000000     0.000000
Togo                           7698.00  1266.0    43.342812   281.434529
Tunisia                       11433.00  1320.0    96.472098   486.351462
Uganda                        41167.00  1445.0   153.735121  1249.223877
United Republic of Tanzania   54660.00  1408.0   248.411513  1773.352142
Zambia                        16854.00  1421.0    71.501949   584.960419
Zimbabwe                      14237.00  1356.0    56.475966   479.406351


                                min  25%    50%      75%        max
Area
Algeria                       -90.0  0.0  1.000  27.2850   42228.00
Angola                       -240.0  0.0  0.030  12.0000   30810.00
Benin                        -256.0  0.0  0.590  13.2500   11485.00
Botswana                      -35.0  0.0  0.000   3.0000    2342.00
Burkina Faso                  -77.0  0.0  0.010   8.2000   19751.00
Cabo Verde                    -16.0  0.0  0.010   3.0000    2541.00
Cameroon                     -175.0  0.0  0.310  21.0000   25216.00
Central African Republic       -4.0  0.0  0.000   3.5500    4666.00
Chad                          -10.0  0.0  0.000   6.0000   15478.00
Comoros                         0.0  0.0  0.020   0.8000      16.65
Congo                         -17.0  0.0  0.000   3.0000    5244.00
CÃ´te d'Ivoire                -151.0  0.0  0.370  14.9450   25069.00
Djibouti                      -10.0  0.0  0.020   2.7300    2694.00
Egypt                       -3396.0  0.0  1.000  48.0000   98424.00
Eswatini                      -10.0  0.0  0.050   4.0000    5596.00
Ethiopia                    -1000.0  0.0  0.140  20.0000  109224.00
Ethiopia PDR                    0.0  0.0  0.000   0.0000       0.00
Gabon                         -22.0  0.0  0.010   5.0000    2633.00
Gambia                         -4.0  0.0  0.010   3.0000    2533.00
Ghana                        -502.0  0.0  1.000  28.0000   30317.00
Guinea                        -12.0  0.0  0.000   9.0000   12414.00
Guinea-Bissau                  -3.0  0.0  0.050   4.0000    2229.00
Kenya                        -177.0  0.0  0.640  16.0000   51393.00
Lesotho                       -70.0  0.0  0.010   3.0000    2323.00
Liberia                       -23.0  0.0  0.020   3.7200    4819.00
Madagascar                   -336.0  0.0  0.030   7.3000   26262.00
Malawi                       -237.0  0.0  0.000   7.0000   18143.00
Mali                         -598.0  0.0  0.900  18.4900   19078.00
Mauritania                    -12.0  0.0  0.010   5.8650   51864.00
Mauritius                     -34.0  0.0  0.120   4.0000    3155.00
Morocco                      -169.0  0.0  2.000  36.0000   38349.00
Mozambique                  -1445.0  0.0  0.230  11.0000   29496.00
Namibia                       -30.0  0.0  0.110   5.0000    2469.00
Niger                        -434.0  0.0  0.000   4.0000   22443.00
Nigeria                      -374.0  0.0  0.570  54.5950  195875.00
Rwanda                       -682.0  0.0  0.000   4.0000   12302.00
Sao Tome and Principe          -1.0  0.0  0.000   1.0000    2446.00
Senegal                      -101.0  0.0  0.060   8.0075   15854.00
Seychelles                      0.0  0.0  0.035   0.4475     204.02
Sierra Leone                 -180.0  0.0  0.080   6.0000    7650.00
South Africa                 -597.0  0.0  3.000  50.5000   57793.00
Sudan                         -99.0  0.0  0.060  20.0000   41802.00
Sudan (former)                  0.0  0.0  0.000   0.0000       0.00
Togo                          -84.0  0.0  0.260   9.0000    7889.00
Tunisia                      -319.0  0.0  1.320  18.0000   11565.00
Uganda                       -271.0  0.0  0.020  12.7300   42729.00
United Republic of Tanzania  -913.0  0.0  1.000  28.2500   56313.00
Zambia                       -529.0  0.0  0.000   6.0000   17352.00
Zimbabwe                     -273.0  0.0  0.120   7.0000   14439.00

[49 rows x 64 columns]

In [20]:
len(df["Area"].unique())

49

In [53]:
byArea = df.groupby('Area')
byArea.describe().loc['Madagascar', 'Y2015'].transpose()

count     1429.000000
mean        88.645836
std        754.979551
min       -305.000000
25%          0.000000
50%          0.020000
75%          7.000000
max      24234.000000
Name: Madagascar, dtype: float64

In [48]:
byArea = df.groupby('Area')
byArea.describe().loc[['Egypt', 'South Africa', 'Kenya', 'Nigeria', 'Ethiopia'], 'Y2017' ]

,count,mean,std,min,25%,50%,75%,max
Area,,,,,,,,
Egypt,1458.0,594.224911,3560.771316,-1582.0,0.0,1.225,47.0000,96443.0
South Africa,1395.0,371.032645,2194.696940,-144.0,0.0,3.000,55.5000,57010.0
Kenya,1548.0,170.969419,1408.584749,-186.0,0.0,0.610,17.0000,50221.0
Nigeria,1457.0,1018.028984,7642.098415,-694.0,0.0,0.680,61.0000,190873.0
Ethiopia,1428.0,314.204314,3122.142176,-792.0,0.0,0.130,18.1075,106400.0

In [21]:
df["Area"].unique()

array(['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso',
       'Cabo Verde', 'Cameroon', 'Central African Republic', 'Chad',
       'Comoros', 'Congo', "CÃ´te d'Ivoire", 'Djibouti', 'Egypt',
       'Eswatini', 'Ethiopia', 'Ethiopia PDR', 'Gabon', 'Gambia', 'Ghana',
       'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia',
       'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius',
       'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda',
       'Sao Tome and Principe', 'Senegal', 'Seychelles', 'Sierra Leone',
       'South Africa', 'Sudan', 'Sudan (former)', 'Togo', 'Tunisia',
       'Uganda', 'United Republic of Tanzania', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [25]:
df.shape

(60943, 12)